<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auxgroup.yl.mnurse"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk android:minSdkVersion="14" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="com.auxgroup.yl.mnurse.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >

        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="34b51d4e38" /> <!-- abcd1234 -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="v_1.0.0" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <meta-data
            android:name="BaiduMobAd_TIME_INTERVAL"
            android:value="1" />
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <activity
            android:name="com.auxgroup.yl.mnurse.WelcomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.TestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.PatientsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.WardListActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.nurseduty.NurseDutyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.vitalsigns.VitalSignTemperChartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.vitalsigns.VitalSignTemperListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.vitalsigns.VitalSignCollectionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.VitalSignsCollectionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.BatchVitalSignsCollectionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.AddPatrolRecordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.InfusionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.simpleCollect.SampleCollectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.enr.EnrAdlActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.NurseExecuteActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.BloodTransfusionPreparationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.CheckReportActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.CureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.AdviceSeachActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.HandmadeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.ExecuteSeachActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.OralMedicineAdviceExcuteActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.SurveyReportActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.DispenseMedicinesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.DailyPatrolActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.DailyPatrolRecordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.MedicineBagDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.about.activity.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.about.activity.ChangePwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.about.activity.ResetPwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.about.activity.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.UserInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.about.activity.ConfigureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.auxgroup.yl.mnurse.activity.MessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.xpush.NotificationDetailsActivity"
            android:label="Notification Details" >
        </activity>
        <activity
            android:name="com.xpush.NotificationSettingsActivity"
            android:label="Notification Settings" >
        </activity>

        <service android:name="com.auxgroup.yl.mnurse.service.IbmMqttService" />
        <service android:name="com.xpush.NotificationService" />

        <receiver
            android:name="com.xpush.MyReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.xpush.intent.MESSAGE_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>