<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>合众人寿-学习“新国十条”从我做起</title>
<style type="text/css">
<!--
body,td,th {
	font-family: 微软雅黑;
	font-size: 14px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(bj.jpg);
}
a {
	font-family: 宋体;
	font-size: 14px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.STYLE5 {font-family: "宋体"}
.STYLE8 {color: #FF0000}
.STYLE10 {color: #000000}
-->
</style></head>

<body>
<table width="850" border="2" align="center" cellpadding="1" cellspacing="1" bordercolor="#ECE9D8" bgcolor="#FFFFFF">
  <tr>
    <th scope="row"><img src="banner.jpg" width="851" height="200" /></th>
  </tr>
  <tr>
    <th scope="row"><div align="center"><img src="dh1.jpg" width="168" height="50" />   <img src="dh2.jpg" width="168" height="50" />  <img src="dh3.jpg" width="168" height="50" />  <img src="dh4.jpg" width="168" height="50" /> <img src="dh4-1.jpg" width="168" height="50" /></div></th>
  </tr>
  <tr>
    <th scope="row"><table width="850" border="0" cellspacing="1" cellpadding="1">
      <tr>
        <th width="324" scope="row"><img src="1408001016314.jpg" width="324" height="222" border="1" /></th>
        <td width="356" bordercolor="1"><table width="356" border="0" cellspacing="1" cellpadding="1">
          <tr>
            <th width="352" height="63" bordercolor="#000000" scope="row"><h2 align="center" class="STYLE8">项俊波：连用三个“从未有过”</h2>
            <p>[新国十条给行业敲响警钟<span class="STYLE5">]</span>[严格按时间表贯彻落实]</p></th>
          </tr>
          <tr>
            <th height="84" bordercolor="#000000" scope="row"><hr style="border:2px dashed #F00;border-bottom:0;border-right:0;
           border-left:0;width:330px;"></p>
              <h3 class="STYLE8">保险业新国十条出台 行业发展前景大好</h3>
              <p align="left" >・<span class="STYLE10">保险新国十条出台背后的故事</span></p>
              <p align="left">・<span class="STYLE10">新国十条拓展互联网保险发展空间</span></p>
              <p align="left">・<span class="STYLE10">保险业迎来全面升级新机遇 </span></p></th>
          </tr>
        </table></td>
        <td width="161"><table width="160" border="0" cellpadding="1" cellspacing="1" bordercolor="1">
          <tr>
            <th width="156" valign="bottom" scope="row"><div align="left" class="STYLE8">
              <div align="center">
                <h3>图解新版国十条</h3>
              </div>
            </div></th>
          </tr>
          <tr>
            <th scope="row"><div align="left"><img src="xz2.jpg" width="160" height="205" /></div></th>
          </tr>
        </table></td>
      </tr>
    </table></th>
  </tr>
  <tr>
    <th height="40" scope="row"><img src="dh5.jpg" width="850" height="66" /></th>
  </tr>
  <tr bgcolor="#cccccc">
    <td valign="top" align="middle" bgcolor="#ffffff"></td>
  </tr>
  <tr bgcolor="#cccccc">
    <td valign="top" align="middle" bgcolor="#ffffff"><table width="50%" border="0" align="left" cellpadding="0" cellspacing="8">
        <tbody>
          <tr>
            <td valign="top" width="182" rowspan="2"><a href="http://www.unionlife.com.cn/" target="_blank"><img height="210" alt="合众人寿副总裁陆峥嵘" src="7907381.jpg" width="180" border="0" /></a></td>
            <td width="234" valign="top"><p style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000" align="left"><strong><a href="http://www.unionlife.com.cn/" target="_blank">辛士j：我国处于改革关键时期 保监会将推进三大改革</a></strong><strong><br />
              合众人寿副总裁 辛士j<a href="http://www.unionlife.com.cn/" target="_blank"></a></strong><br />
                </p>
                <p style="FONT-SIZE: 12px; LINE-HEIGHT: 20px" align="left">新国十条是机遇也是挑战。过去的十年，在董事长的带领下，通过大家的共同努力，去的了很大的进步，公司正在朝着集团化迈进；面对新十年，我们再次整合资源，向养老和医疗的蓝海战略发展，用三年时间实现跨越式发展。[<a href="http://www.unionlife.com.cn/" target="_blank"><font color="#ff0000">详细</font></a>] </p></td>
          </tr>
        </tbody>
    </table>
      <table width="50%" border="0" align="left" cellpadding="0" cellspacing="8">
        <tbody>
          <tr>
            <td width="180" height="215" rowspan="2" valign="top"><a href="http://www.unionlife.com.cn/" target="_blank"><img height="210" alt="合众人寿副总裁陆峥嵘" src="7907381.jpg" width="180" border="0" /></a></td>
            <td width="248" valign="top"><p style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000" align="left"><strong><a href="http://www.unionlife.com.cn/" target="_blank">辛士j：我国处于改革关键时期 保监会将推进三大改革</a></strong><strong><br />
              合众人寿副总裁 辛士j<a href="http://www.unionlife.com.cn/" target="_blank"></a></strong><br />
                </p>
            <p style="FONT-SIZE: 12px; LINE-HEIGHT: 20px" align="left">新国十条是机遇也是挑战。过去的十年，在董事长的带领下，通过大家的共同努力，去的了很大的进步，公司正在朝着集团化迈进；面对新十年，我们再次整合资源，向养老和医疗的蓝海战略发展，用三年时间实现跨越式发展。[<a href="http://www.unionlife.com.cn/" target="_blank"><font color="#ff0000">详细</font></a>] </p></td>
          </tr>
        </tbody>
      </table></td>
  </tr>
  <tr bgcolor="#cccccc">
    <td valign="top" align="middle" bgcolor="#ffffff"><table width="50%" border="0" align="left" cellpadding="0" cellspacing="8">
        <tbody>
          <tr>
            <td valign="top" width="182" rowspan="2"><a href="http://www.unionlife.com.cn/" target="_blank"><img height="210" alt="合众人寿副总裁陆峥嵘" src="7907381.jpg" width="180" border="0" /></a></td>
            <td width="234" valign="top"><p style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000" align="left"><strong><a href="http://www.unionlife.com.cn/" target="_blank">辛士j：我国处于改革关键时期 保监会将推进三大改革</a></strong><strong><br />
              合众人寿副总裁 辛士j<a href="http://www.unionlife.com.cn/" target="_blank"></a></strong><br />
                </p>
            <p style="FONT-SIZE: 12px; LINE-HEIGHT: 20px" align="left">新国十条是机遇也是挑战。过去十年，在董事长的带领下，通过大家的共同努力，去的了很大的进步，公司正朝着集团化迈进；面对新十年，我们再次整合资源，向养老和医疗的蓝海战略发展，用三年时间实现跨越式发展。[<a href="http://www.unionlife.com.cn/" target="_blank"><font color="#ff0000">详细</font></a>]</p></td>
          </tr>
        </tbody>
      </table>
        <table width="50%" border="0" align="left" cellpadding="0" cellspacing="8">
          <tbody>
            <tr>
              <td width="180" height="215" rowspan="2" valign="top"><a href="http://www.unionlife.com.cn/" target="_blank"><img height="210" alt="合众人寿副总裁陆峥嵘" src="7907381.jpg" width="180" border="0" /></a></td>
              <td width="248" valign="top"><p style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000" align="left"><strong><a href="http://www.unionlife.com.cn/" target="_blank">辛士j：我国处于改革关键时期 保监会将推进三大改革</a></strong><strong><br />
                合众人寿副总裁 辛士j<a href="http://www.unionlife.com.cn/" target="_blank"></a></strong><br />
                </p>
              <p style="FONT-SIZE: 12px; LINE-HEIGHT: 20px" align="left">新国十条是机遇也是挑战。过去十年，在董事长的带领下，通过大家的共同努力，去的了很大的进步，公司正朝着集团化迈进；面对新十年，我们再次整合资源，向养老和医疗的蓝海战略发展，用三年时间实现跨越式发展。[<a href="http://www.unionlife.com.cn/" target="_blank"><font color="#ff0000">详细</font></a>]</p></td>
            </tr>
          </tbody>
      </table></td>
  </tr>
  <tr bgcolor="#cccccc">
    <td valign="top" align="middle" bgcolor="#ffffff"><table width="50%" border="0" align="left" cellpadding="0" cellspacing="8">
        <tbody>
          <tr>
            <td valign="top" width="182" rowspan="2"><a href="http://www.unionlife.com.cn/" target="_blank"><img height="210" alt="合众人寿副总裁陆峥嵘" src="7907381.jpg" width="180" border="0" /></a></td>
            <td width="234" valign="top"><p style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000" align="left"><strong><a href="http://www.unionlife.com.cn/" target="_blank">辛士j：我国处于改革关键时期 保监会将推进三大改革</a></strong><strong><br />
              合众人寿副总裁 辛士j<a href="http://www.unionlife.com.cn/" target="_blank"></a></strong><br />
                </p>
            <p style="FONT-SIZE: 12px; LINE-HEIGHT: 20px" align="left">新国十条是机遇也是挑战。过去十年，在董事长的带领下，通过大家的共同努力，去的了很大的进步，公司正朝着集团化迈进；面对新十年，我们再次整合资源，向养老和医疗的蓝海战略发展，用三年时间实现跨越式发展。[<a href="http://www.unionlife.com.cn/" target="_blank"><font color="#ff0000">详细</font></a>]</p></td>
          </tr>
        </tbody>
      </table>
        <table width="50%" border="0" align="left" cellpadding="0" cellspacing="8">
          <tbody>
            <tr>
              <td width="180" height="215" rowspan="2" valign="top"><a href="http://www.unionlife.com.cn/" target="_blank"><img height="210" alt="合众人寿副总裁陆峥嵘" src="7907381.jpg" width="180" border="0" /></a></td>
              <td width="248" valign="top"><p style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000" align="left"><strong><a href="http://www.unionlife.com.cn/" target="_blank">辛士j：我国处于改革关键时期 保监会将推进三大改革</a></strong><strong><br />
                合众人寿副总裁 辛士j<a href="http://www.unionlife.com.cn/" target="_blank"></a></strong><br />
                </p>
              <p style="FONT-SIZE: 12px; LINE-HEIGHT: 20px" align="left">新国十条是机遇也是挑战。过去十年，在董事长的带领下，通过大家的共同努力，去的了很大的进步，公司正朝着集团化迈进；面对新十年，我们再次整合资源，向养老和医疗的蓝海战略发展，用三年时间实现跨越式发展。[<a href="http://www.unionlife.com.cn/" target="_blank"><font color="#ff0000">详细</font></a>]</p></td>
            </tr>
          </tbody>
      </table></td>
  </tr>
  <tr>
    <th scope="row"><img src="dh6.jpg" width="850" height="66" /></th>
  </tr>
  <tr>
    <th scope="row"><table border="1">
      <tr>
        <td width="298"><img src="20140103170835299.jpg" width="298" height="232" /></td>
        <td><h2 align="center">前线部门谈新国十条</h2>
          <p align="left">　　9月4日，合众人寿总公司营销部、银保部、团险部、保费部、新渠道部、综拓部等前线部门组织召开学习新国十条研讨会。会上各前线部门负责人带领部门同事认真学习新国十条每项内容[<a href="http://www.unionlife.com.cn/" target="_blank">详细</a>]</p>
          <p align="left">・总公司营销部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司银保部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司团险部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司保费部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司新渠道部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>          </td>
        </tr>
    </table></th>
  </tr>
  <tr>
    <th scope="row"><img src="dh7.jpg" width="850" height="66" /></th>
  </tr>
  <tr>
    <th scope="row"><table border="1">
      <tr>
        <td width="298"><img src="20140103170835299.jpg" width="298" height="232" /></td>
        <td><h2 align="center">后援部门分享新国十条</h2>
            <p align="left">　　9月4日，合众人寿总公司运营中心、人力资源部、团险部、保费部、新渠道部、综拓部等前线部门组织召开学习新国十条研讨会。会上各后援部门负责人带领部门同事认真学习新国十条每项内容[<a href="http://www.unionlife.com.cn/" target="_blank">详细</a>]</p>
            <p align="left">・总公司营销部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司银保部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司团险部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司保费部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司新渠道部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p></td>
      </tr>
    </table></th>
  </tr>
  <tr>
    <th scope="row"><img src="dh7-1.jpg" width="850" height="66" /></th>
  </tr>
  <tr>
    <th scope="row"><table border="1">
      <tr>
        <td width="298"><img src="20140103170835299.jpg" width="298" height="232" /></td>
        <td><h2 align="center">员工感悟新国十条</h2>
            <p align="left">　　9月4日，合众人寿总公司运营中心、人力资源部、团险部、保费部、新渠道部、综拓部等前线部门组织召开学习新国十条研讨会。会上各部门负责人带领部门员工认真学习新国十条每项内容[<a href="http://www.unionlife.com.cn/" target="_blank">详细</a>]</p>
            <p align="left">・总公司营销部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司银保部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司团险部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司保费部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p>
          <p align="left">・总公司新渠道部：新国十条新国十条 ・总公司营销部：新国十条新国十条</p></td>
      </tr>
    </table></th>
  </tr>
  <tr>
    <th scope="row"><img src="dh8.jpg" width="850" height="66" /></th>
  </tr>
  <tr>
    <th scope="row"><table border="1">
      <tr>
        <td width="434"><p><img src="wechat.jpg" width="20" height="20" />逍遥1900：新国十条好新国十条好新十条好</p>
          <p><img src="wechat.jpg" width="20" height="20" />逍遥1900：新国十条好新国十条好新十条好</p>
          <p><img src="wechat.jpg" width="20" height="20" />逍遥1900：新国十条好新国十条好新十条好</p>
          <p><img src="wechat.jpg" width="20" height="20" />逍遥1900：新国十条好新国十条好新十条好</p>
          <p><img src="wechat.jpg" width="20" height="20" />逍遥1900：新国十条好新国十条好新十条好</p>
          <p><img src="wechat.jpg" width="20" height="20" />逍遥1900：新国十条好新国十条好新十条好</p>          </td>
        <td width="407"><p><img src="weibo.jpg" width="20" height="20" />任我行：新国十条好新国十条好新十条好</p>
          <p><img src="weibo.jpg" width="20" height="20" />任我行：新国十条好新国十条好新十条好</p>
          <p><img src="weibo.jpg" width="20" height="20" />任我行：新国十条好新国十条好新十条好</p>
          <p><img src="weibo.jpg" width="20" height="20" />任我行：新国十条好新国十条好新十条好</p>
          <p><img src="weibo.jpg" width="20" height="20" />任我行：新国十条好新国十条好新十条好</p>
          <p><img src="weibo.jpg" width="20" height="20" />任我行：新国十条好新国十条好新十条好</p></td>
      </tr>
    </table></th>
  </tr>
</table>
</body>
</html>
