@CHARSET "UTF-8";

* {
	margin: 0;;
	padding: 0;
}

body {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}

a:focus {
	outline: none;
}

.demopage {
	margin: 0 auto;;
	width: 400px;;
	overflow: hidden;;
	padding: 20px;
}

/* sidenav */
ul.sidenav {
	float: left;;
	margin: 10px 0 0;;
	padding: 0;;
	width: 200px;;
	list-style: none;;
	border-bottom: 1px solid #3373a9;;
	border-top: 1px solid #003867;;
	font-size: 1.2em;
}

ul.sidenav li {
	position: relative;;
	float: left;;
	margin: 0;;
	padding: 0;
}

ul.sidenav li a {
	border-top: 1px solid #3373a9;;
	border-bottom: 1px solid #003867;;
	padding: 10px 10px 10px 25px;;
	display: block;;
	color: #fff;;
	text-decoration: none;;
	width: 200px;;
	background: #005094 url(../images/sidenav_li_a.gif) no-repeat 5px 10px;;
	position: relative;;
	z-index: 2;
}

ul.sidenav li a:hover,ul.sidenav li a.current {
	background-color: #004c8d;;
	border-top: 1px solid #1a4c76;
}

ul.sidenav li div {
	display: none;;
	position: absolute;;
	top: 2px;;
	left: 0;;
	width: 225px;;
	font-size: 12px;;
	background: url(../images/bubble_top.gif) no-repeat right top;
}

ul.sidenav li div p {
	margin: 7px 0;;
	line-height: 1.6em;;
	padding: 0 5px 10px 30px;;
	background: url(../images/bubble_btm.gif) no-repeat right bottom;
}