@charset "utf-8";
/* menu */
.menu li a:hover{color:#fff;background-position:0 -21px;}
.menu li a:hover ul{display:block;position:absolute;top:21px;left:-5px;margin:0 0 0 0;width:95px;}
.menu li a:hover li a{color:#5a5a5a;display:block;background-position:0 -42px;border-left:1px solid #fff;border-right:1px solid #fff;line-height:24px;}
.menu li a:hover li a:hover{color:#5a5a5a;background-position:0 -68px;}
.menu li li{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/repeat-shadow.png",sizingMethod="crop");}
.menu li li.last{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/navlast.png",sizingMethod="crop");}